a {
  text-decoration: none;
  color: inherit;
}

.header {
  color: darkblue;
  padding: 30px;
  background-color: #fff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.ttl {
  font-size: 25px;
}

.list {
  display: flex;
  font-weight: bold; 
  
}

li {
  padding: 0 15px;
  
}

.nav {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.img {
  position: absolute;
  top: 240px;
  right: 0;
  display: block;
  width: 800px;
  z-index: 100;
}


.box {
  background-color: darkblue;
  position: absolute;
  top: 650px;
  width: 1200px;
  height: 200px;
  z-index: 0;
}

.text {
  position: absolute;
  top: 550px;
  font-size: 80px;
  font-weight: normal;
}
